requests
beautifulsoup4
python-dotenv
streamlit
pandas
xlsxwriter
tiktoken
langchain
langchain-community
langchain-text-splitters
huggingface-hub
faiss-cpu
unstructured
python-pptx
loguru
konlpy
langdetect
nltk
# CPU 전용 버전으로 설치하여 용량과 시간을 80% 단축
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers