--extra-index-url https://download.pytorch.org/whl/cpu
torch
requests
beautifulsoup4
python-dotenv
streamlit
pandas
xlsxwriter
tiktoken
langchain
langchain-community
langchain-text-splitters
huggingface-hub
faiss-cpu
unstructured
python-pptx
loguru
konlpy
langdetect
nltk
sentence-transformers